.popularItem_section {
    margin: 10vh auto;
    width: 80%;
    h2 {
        font-size: 2rem;
        font-weight: 400;
    }
    .buttons-row {
        margin: 1.25rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buttons-wrapper {
            button {
                font-family: "Inter", sans-serif;
                outline: none;
                border: 1px solid transparent;
                font-size: 22px;
                font-weight: 400;
                letter-spacing: -0.25px;
                padding: 6px 12px;
                border-radius: 6px;
                background-color: #15181D;
                color: rgb(150, 150, 150);
                margin-right: 1.25rem;
                transition: .17s ease-in-out;
                cursor: pointer;
                background-image: linear-gradient(90deg, #15181D, #15161d);
                &:hover {
                    color: rgb(215, 215, 215);
                    border-color: rgb(100, 100, 100);
                }
                &.active {
                    background-color: #634FEC;
                    background-image: linear-gradient(to right bottom, #a647d2, #873abb, #692ea3, #4c228c, #2f1674, #201265, #100e55, #020846, #06073b, #09042f, #090224, #040019);
                    border-color: rgb(6, 7, 12);
                    color: rgb(215, 215, 215);
                }
            }
        }
        .sort-button {
            font-family: "Inter", sans-serif;
            outline: none;
            border: 1px solid transparent;
            font-size: 21px;
            font-weight: 400;
            padding: 6px 15px;
            border-radius: 6px;
            background-color: #15181D;
            color: rgb(175, 175, 175);
            transition: .17s ease-in-out;
            background-image: linear-gradient(90deg, #15181D, #15161d);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .sort-icon {
                font-size: 25px;
                margin-left: 10px;
                color: #692ea3;
            }
            &:hover {
                color: rgb(215, 215, 215);
                border-color: rgb(125, 125, 125);
            }
        }
    }
    .highlighted-item {
        margin: 7.5vh 0 15vh;
        width: 75%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        img {
            object-fit: cover;
            object-position: center;
            width: 47.5%;
            height: 80vh;
            border-radius: 20px;
        }
        .highlighted-item-content {
            width: 50%;
            margin-left: 10%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            .ntf-name {
                width: 70%;
                font-family: "Inter", sans-serif;
                font-size: 2.75rem;
                font-weight: 600;
                line-height: calc(2.75rem * 1.05);
                span {
                    display: inline-block;
                    font-weight: 200;
                }
            }
            .details-container {
                padding-top: 2rem;
                border-top: 1px solid rgb(75, 75, 75);
                margin: 2rem 0 0;
                width: 75%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .details-wrapper {
                    //width: 50%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;
                    .creator-avatar {
                        object-fit: cover;
                        height: 50px;
                        width: 50px;
                        border-radius: 5px;
                    }
                    .details-info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        align-self: flex-start;
                        height: 100%;
                        margin-left: 0.75rem;
                        .info-heading {
                            font-family: "Inter", sans-serif;
                            color: rgb(140, 140, 140);
                            font-weight: 300;
                            margin: 2px 0 0.5rem;
                        }
                    }
                }
            }
            .current-prize-container {
                margin: 2.5rem 0;
                width: 70%;
                //background-color: rgba(21, 24, 29, 0.5);
                //backdrop-filter: blur(15px);
                background-color: #15181D;
                border-radius: 10px;
                padding: 1.75rem 1rem 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .current {
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    letter-spacing: -0.2px;
                }
                h2 {
                    font-family: "Inter", sans-serif;
                    font-size: 2.5rem;
                    font-weight: 600;
                    letter-spacing: -0.25px;
                }
                .price_subheading {
                    font-family: "Inter", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.25px;
                    margin-top: 0.25rem;
                    color: rgb(125, 125, 125);
                }
                .ending-info {
                    font-family: "Inter", sans-serif;
                    font-size: 15px;
                    font-weight: 100;
                    margin: 2rem 0 0rem;
                    letter-spacing: 0.5px;
                }
                .data-container {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 0.75rem;
                    .data-wrapper {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        width: 30%;
                        .time-value {
                            font-family: "Inter", sans-serif;
                            font-size: 25px;
                            font-weight: 500;
                        }
                        .time {
                            font-family: "Inter", sans-serif;
                            font-size: 13px;
                            font-weight: 400;
                            color: rgb(100, 100, 100);
                        }
                    }
                }
            }
            button {
                font-family: 'Inter', sans-serif;
                background-color: #15181D;
                outline: none;
                border: none;
                font-size: 17px;
                color: #fff;
                padding: 11px;
                font-weight: 400;
                border-radius: 5px;
                width: 75%;
                cursor: pointer;
                margin: 0.5rem 0;
                border: 1px solid #15181D;
                transition: .2s ease-in-out;
                &:hover {
                    border-color: rgb(100, 100, 100);
                    background-color: #1c222a;
                }
            }
            .buy_button {
                background-image: linear-gradient(to right, #051937, #132b66, #363c95, #6648c2, #9f4fec);
                padding: 12px;
            }
        }
    }
}

body.modal-open {
    // position: fixed;
    overflow-y: hidden !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .showcase_modal {
        height: 100vh;
        width: 100vw;
        position: relative;
        max-width: 90%;
        max-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001; // Nadpisanie tła modalnego
        cursor: pointer;
        .image-wrapper {
            max-width: 100%;
            max-height: 100%;
            height: 95%;
            aspect-ratio: 1.4/2;
            margin: 0 auto;
            border-radius: 2rem;
            overflow: hidden;
            img {
                cursor: default;
                object-fit: cover;
                object-position: center;
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                width: 100%;
                display: block;
                border-radius: 2rem;
                transition: .25s ease-in-out;
                &:hover {
                    scale: 1.05;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .popularItem_section {
        margin: 10vh auto 17.5vh;
        .highlighted-item {
            width: 82.5%;
        }
    }
}