.productsShowcase-section {
    margin: 10vh auto 10vh;
    width: 80%;
    article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .card {
            margin-bottom: 6vh;
            background-color: rgba(21, 24, 29, 0.75);
            backdrop-filter: blur(10px);
            border: 1px solid rgb(30, 30, 30);
            border-color: rgb(21, 24, 29);
            height: 60vh;
            width: calc(82.5% / 4);
            border-radius: 18px;
            border-radius: 22px 22px 18px 18px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1.5rem 0 2rem;
            transition: .275s ease-in-out;
            &:hover {
                border-color: rgb(75, 75, 75);
                .nft-image-container .nft-image {
                    scale: 1.075;
                }
                .price .eth-icon {
                    color: #fff;
                }
            }
            .nft-image-container {
                width: 85%;
                height: 60%;
                align-self: center;
                overflow: hidden;
                border-radius: 18px;
                .nft-image {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    transition: 0.27s ease-in-out;
                    transform-origin: center center;
                }
            }
            .nft-name {
                font-family: sans-serif;
                width: 85%;
                font-size: 21px;
                font-size: clamp(16px, 2.5vw, 22px);
                font-weight: 400;
                margin: 0.75rem auto 1rem;
            }
            .user-data {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                width: 85%;
                margin: 0.5rem auto 0.75rem;
                img {
                    object-fit: cover;
                    object-position: center;
                    border-radius: 4px;
                    height: 52.5px;
                    width: 52.5px;
                    height: 5.1vh;
                    width: 5.1vh;
                    background-image: radial-gradient(circle, #06070c, #111a34, #15295d, #1f3788, #3643b3, #4948c6, #5e4cd9, #744fec, #804fec, #8b4fec, #954fec, #9f4fec);
                }
                .user-name {
                    font-family: sans-serif;
                    margin-left: 0.75rem;
                    font-size: 17px;
                    font-weight: 600;
                    color: rgb(135, 135, 135);
                }
            }
            .current-price {
                width: 85%;
                margin: 0.25rem auto 0;
                border-top: 1px solid rgb(70, 70, 70);
                padding-top: 0.5rem;
                font-size: 18px;
                color: rgb(135, 135, 135);
            }
            .price {
                width: 85%;
                margin: 0rem auto;
                font-family: sans-serif;
                font-size: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                word-spacing: 1.25px;
                letter-spacing: 0.25px;
                .eth-icon {
                    font-size: 24px;
                    color: #716B94;
                    transition: .27s ease-in-out;
                }
            }
        }
    }
}